/* common properties */
.input {
  color: #7c7c7c;
  background-color: #292929;
  border: none;
  padding: 0.8em;
  font-family: DM Sans;
  width: -webkit-fill-available;
}

.button {
  padding: 0.5em;
  color: white;
  background-color: green;
  border-radius: 3em;
}

/* .DM-Sans {
  font-family: DM Sans;
}

.Roboto {
  font-family: Roboto;
} */

/* element styles */
.container {
  display: flex;
}

.left-container {
  position: relative;
  width: 50%;
  color: white;
}

.left-container > #left-image {
  height: 100vh;
  width: 50vw;
}

.left-container > p {
  position: absolute;
  font-family: Roboto;
  font-size: 3.5em;
  font-weight: 500;
  bottom: 2vh;
  left: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1ch;
  margin: auto;
}

#heading1 {
  color: #72db73;
  font-size: 3em;
  font-family: Single Day;
}

#heading2 {
  color: #ffffff;
  font-size: 1em;
  font-family: DM Sans;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 3ch;
  margin-top: 4ch;
  width: 30vw;
}

.input::placeholder {
  color: #7c7c7c;
}

#form-label {
  color: #7c7c7c;
  font-family: DM Sans;
  font-size: 0.9em;
  margin-left: 1em;
}

#sign-up-button {
  background-color: #72db73;
  font-size: 1em;
  font-weight: 600;
}

.bottom-text {
  color: #7c7c7c;
  font-family: Roboto;
  font-size: 0.7em;
}

.error-message {
  color: red;
  font-family: DM Sans;
}
